<% flash.each do |type, message| %>
  <% bootstrap_type = case type.to_sym
    when :notice then "success"
    when :alert  then "danger"
    else type
  end %>

  <div class="alert alert-<%= bootstrap_type %> alert-dismissible fade show mt-2" role="alert">
    <%= message %>
    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
  </div>
<% end %>
